.top-container {
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  grid-auto-flow: row;
  justify-content: start;
  justify-items: stretch;
  grid-template-areas:
    "top-text top-image";
}

.top-text {
  grid-area: top-text;
  width: 80%;
  align-items: center;
  margin: 100px auto;

}

.top-image {
  grid-area: top-image;
}

hr {
  height: 7px;
  margin: 20px 0px;
  border-radius: 50px;
  background: linear-gradient(to right, #34A5E4, #B835E7);
  border: none;
  background-size: 200% 200%;
  animation: gradient 3s alternate infinite;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 50px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  grid-auto-flow: row;
  justify-content: start;
  justify-items: stretch;
  grid-template-areas:
    "card-text card-image";
  max-width: 1000px;
  color: white;
  margin: 100px 0px;
  width: calc(50% - 10px);
  margin-bottom: 20px;
}


.card-text {
  grid-area: card-text;
}

.card-image {
  grid-area: card-image;
}

.card-image>img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

hr {
  margin: 10px 0px;
}

.card-head {
  margin: 50px 0px;
}

.health-line {
  background: linear-gradient(to right, #CA5F5F, #F80000);
  background-size: 200% 200%;
  animation: gradient 3s alternate infinite;
}

.mana-line {
  background: linear-gradient(to right, #3446E4, #35E7D1);
  background-size: 200% 200%;
  animation: gradient 3s alternate infinite;
}

.haste-line {
  background: linear-gradient(to right, #B7E434, #35E7C7);
  background-size: 200% 200%;
  animation: gradient 3s alternate infinite;
}

.vitality-line {
  background: linear-gradient(to right, #FFC42D, #E735D5);
  background-size: 200% 200%;
  animation: gradient 3s alternate infinite;
}


.left {
  order: -1;
}

.card-text>ul,
.card-text>li {
  margin: 10px 50px;
}


@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .card {
    width: 100%;
  }
}