.cards-container {
    max-width: 1500px;
    margin: 0 auto;
}


.card {  
    display: grid;
    gap: 50px;
    grid-template-areas:
    "card-text card-image";
    max-width: 1000px;
    color: white;
    margin: 100px 0px; 
}

.right {
    display: grid;
    justify-content: end;
}

.card-text { grid-area: card-text; }

.card-image { grid-area: card-image; }
.card-image > img {
    width: 100%;
}
hr {
    margin: 10px 0px;
}
.card-head {
    margin: 50px 0px;
}
.fire-line {
    background-image: linear-gradient(to right, #E43434 , #E7AA35);
}
.water-line {
    background-image: linear-gradient(to right, #3446E4 , #35E7D1);

}
.elec-line {
    background-image: linear-gradient(to right, #891AF8 , #BC32D3);
}
.smoke-line {
    background-image: linear-gradient(to right, #3A5976 , #B1EAF4);
}
